@import "tailwindcss";

@theme {
  --color-dark-green: #233e3f;
  --color-teal: #5aaeb9;
  --color-lilac: #d3c5ed;
  --color-lime: #e6f2b1;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

em {
  font-weight: bold;
  font-style: normal;
}
