.button {
  background-color: var(--color-teal);
  color: var(--color-white);
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  padding: 6px 24px;

  transition: all .2s linear;
}

.inverse {
  background-color: var(--color-white);
  color: var(--color-teal);
}

.button:hover {
  background-color: var(--color-dark-green);
  color: var(--color-white);
  box-shadow: 0 0 5px 5px var(--color-lime);
}
