.container {
  padding: 86px 0;
  margin-top: 64px;

  background-color: var(--color-dark-green);
  color: var(--color-white);
}

.container a {
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
