name: Publish

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up asdf and install tools
        uses: asdf-vm/actions/install@v4

      - name: Install dependencies
        run: make install

      - name: Run publish
        run: make publish

      - name: Push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git commit -m "Rebundle"
          git push origin public
